body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
  }
  
  /* // LOADER // */
  
  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -24px;
    margin-top: -24px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border: 3px solid;
    border-color: transparent transparent #ff3d00 #ff3d00;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after,
  .loader::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent #ff3d00 #ff3d00;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }
  .loader::before {
    width: 32px;
    height: 32px;
    border-color: #63ccca #63ccca transparent transparent;
    animation: rotation 1.5s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  
  /* // LOADER // */
  
  .hidden {
    display: none;
  }
  
  span {
    font-weight: 600;
  }
  
  .breed-select {
    margin-bottom: 20px;
  }
  
  .cat-info {
    display: flex;
    flex-wrap: wrap;
  }
  
  .info-wrapper {
    max-width: 600px;
  }
  
  .cat-img {
    margin-right: 20px;
  }