body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
}

h2,
p {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.hidden {
    display: none;
    visibility: hidden;
}
.breed-select {
  margin-bottom: 20px;
    max-width: 100%;
}

.cat-info {
    display: flex;
    gap: 30px;
    font-size: 30px;
    
}
.title-card {
    font-weight: bold;
}

.description {
    padding-top: 20px;
}
.loader {
  content: " ";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  color: blue;
  box-sizing: border-box;
  animation: animloader 1s linear infinite alternate;
}


@keyframes animloader {
  0% {
      box-shadow: -38px -12px, -14px 0, 14px 0, 38px 0;
  }

  33% {
      box-shadow: -38px 0px, -14px -12px, 14px 0, 38px 0;
  }

  66% {
      box-shadow: -38px 0px, -14px 0, 14px -12px, 38px 0;
  }

  100% {
      box-shadow: -38px 0, -14px 0, 14px 0, 38px -12px;
  }
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
